.favorites-section {
  background-color: #f3ece2;
  padding: 60px 0;
  text-align: center;
}

.favorites-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.p {
  font-size: 16px;
  margin-bottom: 40px;
  color: #555;

}
.empty-favorites {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #777;
}
.empty-favorites li a {
  text-decoration: none;
  color:  #ffffff;
  font-weight: bold;
  margin-top: 20px;
  background-color: #ff3d00;
  padding: 15px;
  border-radius: 12px;
   
}
.empty-favorites li a:hover {
  background-color: #e63600;
  list-style: none  ; 
}

.empty-favorites .heart-icon {
  font-size: 60px;
  margin-bottom: 20px;
  color: #a87c6f;
}

.empty-favorites h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.empty-favorites button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #ff3d00;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.favorites-grid .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.favorites-grid .card .info h3 {
  font-size: 16px;
  margin-top: 10px;
}

.favorites-grid .card .info .price {
  color: #c4661d;
  font-weight: 600;
}
.wishlist-btn.active,
#header-heart.active {
  color: red;
}
.image-wrapper{
    position: relative;
}
.image-wrapper .wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
